html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.nav-bar {
  background-color: #1F2937;  
  color: white;
  display: flex;
  justify-content: space-around;
  
  
}

.nav-bar p {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: baseline;
  
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: O;
  padding: 0;
  font-size: 18px;
}

ul a {
  text-decoration: none;
  color: white;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 80px 220px;;
  gap: 50px;
  background-color: #1F2937;
  color: white;

}

.placeholder {
  padding: 80px 200px;
  background: grey;
  text-align: left;
}

h1 {
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 0;
}

.hero-text p {
  font-weight: 100;
  margin-top: 0;
  font-size: 18px;
}

.button-01 {
  border: none;
  border-radius: 8px;
  padding: 8px 30px;
  background: blue;
  color: white;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 80px;
  gap: 80px;
  
}

.info img {
  height: 150px;
  width: 180px;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  
}

.quote-text {
  font-weight: 200;
  font-size: 40px;
  font-style: italic;
  text-align: justify;
  margin-top: 130px;
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 0px;
}

.quote-author {
  text-align: right;
  margin-right: 220px;
  margin-bottom: 130px;
  font-weight: bold;
  font-size: 20px;
}

.box {
  margin: 100px 220px;
  background-color: blue;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  color: white;
  border: 2px solid blue;
  border-radius: 20px;
  
}

.container-text h3, .container-text p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container-text p {
  font-size: 18px;

}

.box button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  background-color: blue;
  padding: 0px 40px;
  border: 2px solid white;
  border-radius: 10px;
  
}


