html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.nav-bar {
  background-color: #1F2937;  
  color: white;
  display: flex;
  justify-content: space-around;
  
  
}

.nav-bar p {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: baseline;
  
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: O;
  padding: 0;
  font-size: 18px;
}

ul a {
  text-decoration: none;
  color: white;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 80px 220px;;
  gap: 50px;
  background-color: #1F2937;
  color: white;

}

.placeholder {
  padding: 80px 200px;
  background: grey;
  text-align: left;
}

h1 {
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 0;
}

.hero-text p {
  font-weight: 100;
  margin-top: 0;
  font-size: 18px;
}

.button-01 {
  border: none;
  border-radius: 8px;
  padding: 8px 30px;
  background: blue;
  color: white;
  font-weight: bold;
}



